<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ben_lidar_gazebo" params="name
                                            update_rate:=10 vertical_lasers:=16 samples:=1875 resolution:=0.1
                                            min_angle:=${-pi} max_angle:=${pi}
                                            min_vertical_angle:=${-pi/12} max_vertical_angle:=${pi/12}
                                            max_range:=130 noise_stddev:=0.01">

    <gazebo reference="${namespace}/${name}">
      <sensor type="gpu_lidar" name="${name}_sensor">
        <update_rate>${update_rate}</update_rate>
        <topic>${namespace}/sensors/${name}/scan/points</topic>
        <lidar>
          <scan>
            <horizontal>
              <samples>${samples}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
            <vertical>
              <samples>${vertical_lasers}</samples>
              <resolution>1</resolution>
              <min_angle>${min_vertical_angle}</min_angle>
              <max_angle>${max_vertical_angle}</max_angle>
            </vertical>
          </scan>
          <range>
            <min>0.1</min>
            <max>${max_range}</max>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>${noise_stddev}</stddev>
          </noise>
        </lidar>
        <visualize>false</visualize>
      </sensor>
    </gazebo>

  </xacro:macro>

</robot>
