<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="oem_gps_gazebo" params="name:=gps update_rate:=5">
    <gazebo reference="${namespace}/${name}">
      <sensor type="navsat" name="${namespace}_${name}_navsat">
        <always_on>1</always_on>
        <update_rate>${update_rate}</update_rate>
        <topic>${namespace}/sensors/${name}/fix</topic>
        <navsat>
          <position_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.5</bias_mean>
                <bias_stddev>0.01</bias_stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.75</bias_mean>
                <bias_stddev>0.01</bias_stddev>
              </noise>
            </vertical>
          </position_sensing>
          <velocity_sensing>
            <horizontal>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </horizontal>
            <vertical>
              <noise type="gaussian">
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </noise>
            </vertical>
          </velocity_sensing>
        </navsat>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
