<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <xacro:macro name="pano_camera_gazebo" params="name number update_rate:=5">

    <gazebo reference="${namespace}/${name}_${number}">
      <sensor type="camera" name="${name}_${number}_sensor">
        <update_rate>${update_rate}</update_rate>
        <topic>${namespace}/sensors/cameras/${name}_${number}/image_raw</topic>
        <camera name="${name}_${number}_camera">
          <horizontal_fov>1.26</horizontal_fov>
          <image>
            <width>2560</width>
            <height>1440</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>5000</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
      </sensor>
    </gazebo>

  </xacro:macro>
</robot>
