<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ben">

  <xacro:arg name="namespace" default="ben"/>
  <xacro:property name="namespace" value="$(arg namespace)" scope="global" />

  <!-- Robot mesh and physical links from ben_description -->
  <xacro:include filename="$(find ben_description)/urdf/ben_mesh.xacro" />

  <!-- Dynamics (hydrodynamics drag) -->
  <xacro:include filename="$(find ben_gazebo)/urdf/ben_dynamics_plugin.xacro" />
  <xacro:usv_dynamics_gazebo name="ben_dynamics_plugin" />

  <!-- Sensors -->
  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/oem_gps.xacro" />
  <xacro:oem_gps_gazebo name="gps" />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/oem_heading_sensor.xacro" />
  <xacro:oem_heading_sensor_gazebo name="heading" />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/posmv_mru.xacro" />
  <xacro:posmv_mru_gazebo />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/lidar.xacro" />
  <xacro:ben_lidar_gazebo name="lidar" />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/forward_camera.xacro" />
  <xacro:forward_camera_gazebo name="forward_camera" />

  <xacro:include filename="$(find ben_gazebo)/urdf/sensors/pano_array.xacro" />
  <xacro:pano_array_gazebo name="pano" />

  <!-- Buoyancy box for Gz graded buoyancy -->
  <xacro:include filename="$(find ben_gazebo)/urdf/ben_buoyancy.xacro" />

  <!-- Thruster (jet drive) -->
  <xacro:include filename="$(find ben_gazebo)/urdf/ben_thruster.xacro" />

</robot>
