<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
  <gazebo>
    <!-- Thrust force applied to propeller joint -->
    <plugin filename="gz-sim-thruster-system"
            name="gz::sim::systems::Thruster">
      <joint_name>${namespace}/engine_propeller_joint</joint_name>
      <thrust_coefficient>0.004</thrust_coefficient>
      <fluid_density>1000</fluid_density>
      <propeller_diameter>0.2</propeller_diameter>
      <velocity_control>true</velocity_control>
      <max_thrust_cmd>1800</max_thrust_cmd>
      <min_thrust_cmd>-500</min_thrust_cmd>
      <topic>${namespace}/thrusters/main/thrust</topic>
    </plugin>

    <!-- Steering angle control on the engine joint -->
    <plugin filename="gz-sim-joint-position-controller-system"
            name="gz::sim::systems::JointPositionController">
      <joint_name>${namespace}/chasis_engine_joint</joint_name>
      <use_velocity_commands>true</use_velocity_commands>
      <topic>${namespace}/thrusters/main/pos</topic>
    </plugin>
  </gazebo>
</robot>
